
:root {
    --fontFamily: 'Marcellus', sans-serif;
    --headingFontFamily: 'Fredoka One', cursive;
    --extraFontFamily: 'Luckiest Guy', cursive;
    --main-color: #1a1a13;
    --sec-color: #e3342d;
    --white-color: #ffffff;
    --bg-color: #f3f7fa;
    --black-color: #1a1a13;
    --transition: .5s;
    --fontSize: 16px;
}

body[data-sidebar=dark] .navbar-brand-box {
    background: var(--main-color);
}
td img{
    max-width: 60px;
}
body[data-layout=horizontal][data-topbar=light] .topnav {
    background-color: var(--main-color);
}

body[data-sidebar=dark] .vertical-menu {
    background: var(--main-color);
}
/* filter: brightness(0) invert(1); */

.logo-white {
    filter: brightness(0) invert(1);
}
.bg-info {
    background: var(--sec-color) !important;
}

.bg-primary.bg-soft {
    background: rgb(42 77 110 / 4%) !important;
}

.text-primary {
    color: var(--main-color) !important;
}

.bg-secondary {
    background: var(--black-color) !important;
}

.btn-primary {
    background-color: var(--sec-color) !important;
    border-color: var(--sec-color) !important;
}

.page-item.active .page-link {
    background-color: var(--sec-color) !important;
    border-color: var(--sec-color) !important;
}

.checkout-tabs .nav-pills .nav-link.active {
    background: var(--sec-color);
}

.nav-link:focus, .nav-link:hover {
    color: var(--sec-color);
}

.form-check-input:checked {
    background-color: var(--main-color);
}

.btn-success, .btn-success:hover {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
